= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      h2
        = pluralize(@user.errors.count, "error")
        |  prohibited this user from being saved:
      ul
        - @user.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :name
    br
    = f.text_field :name
  .field
    = f.label :email
    br
    = f.text_field :email
  .field
    = f.label :member_number
    br
    = f.text_field :member_number
  .field
    = f.label :screen_name
    br
    = f.text_field :screen_name
  .field
    = f.label :screen_name_kana
    br
    = f.text_field :screen_name_kana
  .field
    = f.label :nick
    br
    = f.text_field :nick
  .field
    = f.label :profile
    br
    = f.text_area :profile
  .field
    = f.label :password
    br
    = f.password_field :password
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation
  .actions
    = f.submit
